USE=<HF|OPENAI>

REDIS_URL=<redis[s]://[[username][:password]@][host][:port][/db-number]>

SEARCHAPI_API_KEY=<https://www.searchapi.io/>
YOUTUBE_VIDEOS=<video-id-1,video-id-2,video-id-3>

GOOGLE_API_KEY=<https://console.cloud.google.com/apis/credentials>
GOOGLE_EMBEDDING_MODEL=<https://ai.google.dev/models/gemini#model_variations>
GOOGLE_SUMMARY_MODEL=<https://ai.google.dev/models/gemini#model_variations>
GOOGLE_VIDEO_INDEX_NAME=<redis-video-index-name>
GOOGLE_VIDEO_PREFIX=<redis-video-prefix>
GOOGLE_VECTOR_SET=<redis-vector-set>
GOOGLE_SUMMARY_PREFIX=<redis-summary-prefix>

HF_EMBEDDING_MODEL=<https://huggingface.co/models?pipeline_tag=feature-extraction&library=transformers.js>
HF_SUMMARY_MODEL=<https://huggingface.co/models?pipeline_tag=summarization&library=transformers.js>
HF_VIDEO_INDEX_NAME=<redis-video-index-name>
HF_VIDEO_PREFIX=<redis-video-prefix>
HF_VECTOR_SET=<redis-vector-set>
HF_SUMMARY_PREFIX=<redis-summary-prefix>

OPENAI_API_KEY=<https://platform.openai.com/api-keys>
OPENAI_ORGANIZATION=<https://platform.openai.com/account/organization>
OPENAI_EMBEDDING_MODEL=<https://platform.openai.com/account/limits>
OPENAI_SUMMARY_MODEL=<https://platform.openai.com/account/limits>
OPENAI_VIDEO_INDEX_NAME=<redis-video-index-name>
OPENAI_VIDEO_PREFIX=<redis-video-prefix>
OPENAI_VECTOR_SET=<redis-vector-set>
OPENAI_SUMMARY_PREFIX=<redis-summary-prefix>
